.questionContainer {
  width: 85%;
  color: var(--color-body);
  margin: 1rem auto;
  padding-bottom: 2rem;
  line-height: 1.5;
  border-bottom: 1px solid var(--border-color);

  @media screen and (max-width: 576px) {
    width: 100%;
    margin: 1.5rem 0;
  }
}

.questionContainer p {
  font-size: 1.7rem;
}

.questionHeader {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 2rem;
  cursor: pointer;
  height: 4rem;
}

.questionText {
  flex: 1;
  font-size: 2rem !important;
  font-weight: bold;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  color: var(--color-secondary);

  @media screen and (max-width: 576px) {
    font-size: 1.7rem !important;
  }
}

.icon {
  transition: transform 1s ease;
}

.answer {
  padding: 0 16px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}
