.featuredContainer {
  background-image: url("/images/brc/featured.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - var(--navbar-height));
  color: var(--color-white);

  @media screen and (min-width: 1441px) {
    height: calc(90vh - var(--navbar-height));
  }
}

.featuredContentContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.featuredContentContainer h1 {
  text-transform: uppercase;
}

.featuredText {
  margin: 2rem 0;
}

.featuredLeft {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.featuredFigureContaier {
  display: flex;
  margin: 4rem 0;
}

.featuredFigureItem {
  margin-right: 2rem;
  padding: 0 2rem;
  padding-left: 0;
  border-right: 1px dashed white;
}

.featuredFigureItem p {
  font-size: 1.6rem;
}

.featureActionContainer {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}

.featureActionContainer button {
  padding: 1.3rem 3rem;
  margin-top: 2rem;
}

.featureActionContainer p {
  margin-top: 2rem;
  color: var(--color-primary);
  font-weight: 500;
  text-transform: uppercase;
}
