.visionContainer {
  background-color: var(--color-blue-dark);
  background: #212b35;
  margin-top: -10rem;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    margin-top: -5rem;
  }
}

.visionContent {
  width: var(--body-content-width);
  margin: 5rem auto;
  padding: 3rem 2rem;
  text-align: left;
  color: var(--color-white);

  @media screen and (max-width: 1280px) {
    text-align: center;
    padding: 2rem 2rem;
  }
}

.bartitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.mainTitle {
  margin-bottom: 25px;
}

.description {
  line-height: 1.4;
  margin: 1rem 0;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.visionImageContainer {
  display: flex;
  /* flex: 1 1 45%; */
  min-width: 30rem;
}

.visionImage {
  border-radius: var(--border-radius-med);

  @media screen and (max-width: 1280px) {
    width: 100%;
    height: auto;
    margin: 6rem 0;
  }

  @media screen and (max-width: 576px) {
    margin: 2rem 0;
  }
}

.visionPointsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  flex: 1 1 50%;
  min-width: 30rem;
}

.visionPointCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  flex: 1 1 calc(50% - 30px);
  min-width: 28rem;
}

.visionPointIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: var(--border-radius-sm);
  width: 5rem;
  height: 5rem;
}

.visionPointIcon {
  width: 4rem;
  height: 4rem;
}

.visionPointText {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.arrowImage {
  display: inline-block;
  width: 85rem;
  height: 40rem;
  position: absolute;
  top: -100px;
  right: -300px;
  transform: rotate(45deg);
  z-index: 1;

  @media screen and (max-width: 1280px) {
    top: -100px;
    right: -300px;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}
