.contactUs {
  background: url("/images/brc/map.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.contactUsContainer {
  display: flex;
  column-gap: 4rem;
  width: var(--body-content-width);
  margin: 0rem auto;
  overflow: hidden;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
    width: 100%;
  }
}

.headings {
  text-align: center;
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    width: 90%;
  }
}

.headings h1 {
  color: var(--color-secondary);
  margin-top: 4rem;
  line-height: 2;
  text-transform: uppercase;

  @media screen and (max-width: 576px) {
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

.leftContainer {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto;
  padding: 3rem;
  background-color: var(--color-gray);
  color: var(--color-white);
  border-radius: var(--border-radius-med);

  @media screen and (max-width: 1280px) {
    justify-content: center;
    margin: 5rem;
  }

  @media screen and (max-width: 576px) {
    object-fit: cover;
    overflow: hidden;
    margin: 3rem 0;
  }
}

.contactDetails {
  border-radius: 8px;

  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}

.contactDetails h1 {
  font-size: 2.4rem;
}

.contactDetails p {
  font-size: 1.4rem;
  margin: 1rem 0 2.5rem 0;
}

.infoItem {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.infoItem span {
  color: var(--color-white);
  font-weight: bold;
}

.socialsContainer {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.socialIcon {
  padding: 1px;
  border-radius: 6px;
  transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
  cursor: pointer;
}

.socialIcon:hover,
.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  padding: 3rem;
  margin: 10rem auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius-med);

  @media screen and (max-width: 1280px) {
    margin: 5rem;
    flex-basis: 100%;
  }

  @media screen and (max-width: 576px) {
    margin: 2rem 0;
  }
}

.rightContainer button {
  margin-top: 3rem;
}

.contactUsFormItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.formDualItems {
  display: flex;
  width: 100%;
  gap: 2rem;

  @media screen and (max-width: 576px) {
    flex-wrap: wrap;
    gap: 0rem;
  }
}
