.testimonial {
  position: relative;
  width: var(--body-content-width);
  margin: 7rem auto;
}

.background {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  margin-top: -8rem;

  @media screen and (max-width: 1440px) {
    margin-top: -10rem;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.testimonialHeading {
  text-align: center;
  /* margin: 7rem 0 4rem 0; */
  text-transform: uppercase;
}

.testimonialHeading h1 {
  line-height: 2.5;

  @media screen and (max-width: 768px) {
    line-height: 1.3;
    margin-bottom: 4rem;
  }
}

.testimonialText {
  font-size: 1.5rem;
  font-weight: 500;
  width: 83%;
  margin: 0rem auto;
  line-height: 1.5;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @media screen and (max-width: 1280px) {
    flex-basis: 60%;
  }

  @media screen and (max-width: 768px) {
    flex-basis: 100%;
  }
}

/*  */
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  padding: 10rem 0rem;
  margin: 10rem 5rem;
  border-radius: 1.5rem;
  position: relative;

  @media screen and (max-width: 768px) {
    background: url("/images/brc/backgroung.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 5rem;
    padding: 3rem 2rem;
  }
}

.card {
  padding: 4rem;
  max-width: 35rem;
  background: var(--color-white);
  border-radius: 1rem;
  box-shadow: -13px 18px 35px 0px #00000017;

  @media screen and (max-width: 768px) {
    margin-bottom: 3rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profilePic {
  border-radius: 50%;
}

.name {
  font-size: 1.8rem;
  font-weight: bold;
}

.role {
  font-size: 1.2rem;
  color: var(--color-gray-dark);
  font-weight: bold;
}

.feedback {
  font-size: 1.5rem;
  line-height: 1.7;
}

/* .backgroundImage {
  display: inline-block;
  width: 65rem;
  height: 65rem;
  position: relative;
  top: 0px;
  bottom: -200;
  right: -90px;
  z-index: 1;

  @media screen and (max-width: 1280px) {
    width: 15rem;
    height: 15rem;
  }
} */
