.missionContainer {
  display: flex;
  justify-content: flex-end;
  width: var(--body-content-width);
  margin: 10rem auto;
  position: relative;
  padding-bottom: 6rem;
  /* border-bottom: 1px dashed var(--color-body-darker); */
  border-bottom: 2px solid transparent;
  border-image: repeating-linear-gradient(to right, var(--color-body-darker) 0 6px, transparent 6px 10px);
  border-image-slice: 1;

  @media screen and (max-width: 1280px) {
    flex-direction: column-reverse;
    row-gap: 4rem;
    margin: 5rem auto;
  }

  @media screen and (max-width: 576px) {
    margin: 5rem auto;
  }
}

.leftContainer {
  flex-basis: 50%;

  @media screen and (max-width: 1280px) {
    position: relative;
    top: 0px;
  }
}

.leftContainer img {
  width: 90%;
  height: 40rem;
  /* border-radius: 1rem; */

  @media screen and (max-width: 1280px) {
    height: 30rem;
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    height: 25rem;
  }
}

.rightContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;

  @media screen and (max-width: 1280px) {
    align-items: center;
    flex-basis: 100%;
    margin: 0 20rem;
  }

  @media screen and (max-width: 1280px) {
    margin: 0;
  }

  @media screen and (max-width: 576px) {
    text-align: center;
  }
}
