.heroContainer {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  /* background-color: black; */
  z-index: -1;

  @media screen and (min-width: 1441px) {
    height: calc(90vh - var(--navbar-height));
  }

  @media screen and (max-width: 576px) {
    height: calc(80vh - var(--navbar-height));
  }
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
