.servicesItemsContainer {
  background-color: var(--color-white);
}

.serviceItem {
  display: flex;
  width: var(--body-content-width);
  margin: 9rem auto;
  position: relative;
  padding: 3rem 2rem;
  border-radius: var(--border-radius-med);

  @media screen and (max-width: 1280px) {
    margin: 0rem auto;
    padding-bottom: 0rem;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-bottom: 5rem;
  }

  @media screen and (max-width: 576px) {
    padding-top: 5rem;
    padding-bottom: 0rem;
  }
}

.reverse {
  flex-direction: row-reverse;
  background-color: var(--color-gray-blue);

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.serviceItem h1 {
  color: var(--color-secondary);
  font-size: 4rem;
  padding: 0rem 2rem;

  @media screen and (max-width: 576px) {
    font-size: 3rem;
  }
}

.serviceItem p,
.serviceItem ul {
  font-size: 1.7rem;
  padding: 0rem 2rem;

  @media screen and (max-width: 1280px) {
    line-height: 1.5;
  }

  @media screen and (max-width: 576px) {
    font-size: 1.7rem;
    line-height: 1.4;
  }
}

.serviceItem ul {
  margin-top: 4rem;
  margin-left: 2rem;
}

.serviceItem li {
  margin-top: 1rem;
}

.leftContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 60%;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 0rem;
    flex-basis: 40vw;
  }
}

.rightContainer {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.rightContainer img {
  width: 100%;

  @media screen and (max-width: 576px) {
    height: 30rem;
  }
}
