.servicesFeaturedContainer {
  background: linear-gradient(90deg, #fef1d6 0%, #ffffff 100%);
  height: calc(100vh - var(--navbar-height));
  color: var(--color-white);
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 1441px) {
    height: calc(90vh - var(--navbar-height));
  }

  @media screen and (max-width: 576px) {
    height: calc(95vh - var(--navbar-height));
  }
}

.holesBackground {
  position: absolute;
  background: url("/images/brc/circles-bg.svg");
  background-repeat: no-repeat;
  /* background-position: center center; */
  width: 50%;
  height: 100%;
  left: -430px;
  /* top: 100px; */
  /* transform: rotate(180deg); */
  /* overflow: hidden; */

  @media screen and (max-width: 1440px) {
    /* left: -300px; */
    width: 70%;
    left: -470px;
    background-position: center;
  }

  @media screen and (max-width: 1440px) {
    width: 100%;
    left: 0px;
    background-position: center;
    background-size: cover;
    bottom: 100px;
  }
}

.servicesFeaturedContentContainer {
  display: flex;
  width: var(--body-content-width);
  margin: 0 auto;
  height: 100%;
  position: relative;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.servicesFeaturedLeft {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
  color: var(--color-black);

  @media screen and (max-width: 768px) {
    align-items: center;
    padding: 4rem 0 0rem 0;
  }
}

.servicesFeaturedLeft h1 {
  text-transform: uppercase;
}

.servicesFeaturedLeft p {
  margin: 3.5rem 0;
}

.servicesFeaturedLeft button {
  max-width: 24rem;
}

.servicesFeaturedRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media screen and (max-width: 1280px) {
    display: none;
  }
}

.servicesFeaturedImage {
  display: flex;
  align-items: flex-end;
  width: 60%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 20px;
  right: -240px;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 40rem;

    top: 260px;
    right: -240px;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    height: 40rem;

    top: 360px;
    right: -40px;
  }
}

.servicesFeaturedImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @media screen and (max-width: 1440px) {
    height: 100%;
  }
}
